body {
    font-family: 'Montserrat';
    background-color: #F0F0F4;
    color: #3f3f3f;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #F0F0F4;
    box-shadow: 0px 4px 24px 0px #00000014;
    overflow: hidden;
}

.header__content {
    margin: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin: 32px 0;
}

.menu {
    list-style: none;
    display: flex;
}

.menu__list {
    padding: 0;
    margin-right: 40px;
}

.menu__list:last-of-type {
    margin-right: 0;
}

.container {
    margin: 0 auto;
    max-width: 1530px;
}

.menu__link {
    text-decoration: none;
    color: #3f3f3f;
    font-weight: 600;
}

.banner {
    margin-top: 32px;
    width: 100%;
    height: 600px;
    background: #fff url("../img/баннер.png") no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 16px;
    overflow: hidden;
}

.banner__content {
    margin-left: 60px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.banner__title {
    font-size: 40px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 24px;
    color: #fff;
}

.banner__text {
    width: 500px;
    margin-top: 0;
    margin-bottom: 48px;
    color: #fff;
    line-height: 140%;
}

.banner__btn {
    margin-bottom: 60px;
    text-decoration: none;
    color: #fff;
    background-color: #3B5EDC;
    width: fit-content;
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 600;
    padding: 12px 24px;
    border-radius: 4px;
}

.articles {
    margin-top: 90px;
}

.articles__head {
    margin-bottom: 32px;
}

.articles__title {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
}

.articles__list {
    flex-wrap: wrap;
    display: flex;
}

.card {
    width: 360px;
    margin-right: 30px;
    margin-bottom: 30px;
    box-shadow: 4px 4px 24px 0px #00000014;
    background-color: #F0F0F4;
}

.card__img {
    border-radius: 12px 12px 0 0;
    object-fit: cover;
    width: 100%;
}

.card:nth-of-type(4n) {
    margin-right: 0;
}

.card__content {
    margin: 16px 24px;
}

.card__title {
    margin-top: 0;
    margin-bottom: 24px;
}

.card__preview {
    line-height: 140%;
    font-size: 14px;
    margin-top: 0;
    margin-bottom: 24px;
}

.card__date {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    opacity: 50%;
}

@media screen and (max-width: 1600px) {
    .container {
        max-width: 1110px;
    }
    .card {
        width: 350px;
    }
    .card:nth-of-type(4n) {
        margin-right: 30px;
    }
    .card:nth-of-type(3n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 1110px) {
    .container {
        max-width: 900px;
    }
    .card {
        width: 435px;
    }
    .card:nth-of-type(3n) {
        margin-right: 30px;
    }
    .card:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media screen and (max-width: 900px) {
    .container {
        max-width: 800px;
    }
    .card {
        width: 385px;
    }
    .menu {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
    .card {
        margin-right: 0;
        width: 100%;
    }
    .card:nth-of-type(3n) {
        margin-right: 0;
    }
    .card:nth-of-type(4n) {
        margin-right: 0;
    }
    .banner__content {
        width: 80%;
        margin-left: 24px;
    }
    .banner__title {
        line-height: 110%;
        font-size: 32px;
    }
    .banner__text {
        width: auto;
    }
}